@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {padding: 0; margin: 0;}
* {font-family: 'Roboto', 'sans-serif';}
a {text-decoration: none; display: block;}

#fix_header {overflow: hidden; position: fixed; width: 100%; position:sticky; top:0px; background-color: white;}
#fix_header .social {position:absolute; top: 20px; left: 15px; }
#fix_header .social li {background-image : url('img/images/social.png'); width: 32px; height: 32px; float:left; list-style: none; text-decoration: none;}
#fix_header .social li:nth-child(2) {background-image : url('img/images/social.png'); width: 32px; height: 32px; background-position: -32px 0; list-style: none;}
#fix_header .social li:nth-child(3) {background-image : url('img/images/social.png'); width: 32px; height: 32px; background-position: -64px 0; list-style: none;}
#fix_header .social li:nth-child(4) {background-image : url('img/images/social.png'); width: 32px; height: 32px; background-position: -96px 0; list-style: none;}


#fix_header h1 {text-align: center; margin: 20px; }
#fix_header .loginMenu {list-style: none; position: absolute; top: 20px; right: 15px; display:block;}

#fix_header .subject { text-align: center; list-style: none; }
.subject li {display :inline-block; font-size: 17px; padding: 20px 30px;}

#section1 {margin-top: 15px; height: 500px; border-top: 3px solid red; background-image: url('img/images/bg.jpg'); background-size: cover; background-position: center; }
#section1 .sec_char {padding-top : 40px; text-align: center; color:white; font-size: 50px; letter-spacing: 15px;}    
#section1 div {text-align: center; color:white; font-size:30px;}


#section2 {overflow: hidden; text-align: center; margin-bottom: 100px;}
#section2 h2 {font-size: 14px; text-align: center; padding: 10px 0px; border-bottom: 3px dashed #ddd;}
#section2 article {text-align : center; color: #ddd; display :inline-block; padding: 40px;}


#main_footer {overflow: hidden; border-top: 2px solid #ddd; padding: 20px; height: 40px;}
#main_footer .f_left {float:left; font-weight: bold;}
#main_footer .f_right {float:right;}

